<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org" data-theme="dark">

<head>
  <title> Producto Formulario </title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2.0.0-alpha1/css/pico.min.css" />
  <link rel="stylesheet" href="../static/css/global.css" th:href="@{/css/global.css}">
</head>

<body>
  <div th:replace="~{fragments/navbar :: navbar}"></div>

  <!-- Main -->
  <main class="container">
    <div>
      <form action="#" th:action="@{agregarProducto}" th:object="${producto}" method="post">
        <label for="codigo"> Código </label>
        <input th:field="*{codigo}" type="text" name="codigo" required inputmode="numeric" pattern="[0-9]*">
        <label for="nombre"> Nombre </label>
        <input th:field="*{nombre}" type="text" name="nombre" required>
        <label for="descripcion"> Descripción </label>
        <textarea th:field="*{descripcion}" cols="30" rows="4" name="descripcion"></textarea>
        <label for="precio"> Precio </label>
        <input th:field="*{precio}" type="number" name="precio" required step="0.01" min="0">
        <label for="stock"> Stock </label>
        <input th:field="*{stock}" type="number" name="stock" required step="1" min="0">
        <label for="marca"> Marca</label>
        <input th:field="*{marca}" type="text" name="marca" required>
				<label for="estado"> Estado </label>
				<input th:field="*{estado}" type="text" name="estado" required>
        <input type="submit" value="Crear">
      </form>
    </div>
  </main>
</body>

</html>
