<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">

<head>
  <title> Producto Formulario </title>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2.0.0-alpha1/css/pico.min.css" />
</head>

<body>
  <!-- MAIN -->
  <main class="container">
    <div>
      <section th:each="producto: ${productos}">
        <article>
          <div>
            <p th:text="${producto.nombre}" />
          </div>
          <div>
            <p th:text="${producto.descripcion}" />
            <p th:text="${producto.precio}" />
          </div>
          <div>
            <p th:text="${producto.stock}" />
            <p th:text="${producto.marca}" />
          </div>
        </article>
      </section>
    </div>

    <div>
      <a role="button" href="/agregarProducto"> Volver a la carga </a>
      <a role="button" href="/"> Volver al Inicio </a>
    </div>
  </main>
</body>

</html>
