<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

  <head>
    <title> Paseos </title>
    <meta charset="UTF-8" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body>
    <ul class="grid grid-cols-[repeat(7,auto)] list-none w-full border-black align-center justify-center">
      <li class="text-lg rounded py-1 m-1 border-black border-2" style="grid-row-start:span 20">Dia</li>
      <li class="text-lg rounded py-1 m-1 border-black border-2" style="grid-row-start:span 20">Lunes</li>
      <li class="text-lg rounded py-1 m-1 border-black border-2" style="grid-row-start:span 20">Martes</li>
      <li class="text-lg rounded py-1 m-1 border-black border-2" style="grid-row-start:span 20">Miércoles</li>
      <li class="text-lg rounded py-1 m-1 border-black border-2" style="grid-row-start:span 20">Jueves</li>
      <li class="text-lg rounded py-1 m-1 border-black border-2" style="grid-row-start:span 20">Viernes</li>
      <li class="text-lg rounded py-1 m-1 border-black border-2" style="grid-row-start:span 20">Sabado</li>
      <li class="flex flex-col py-1 m-1 leading-none border-black border-2" style="grid-column:1">
        <p class="text-bold"> Horario </p>
      </li>
      <li class="flex flex-col py-1 m-1 round leading-none border-black border-2" style="grid-column:2">
        <p class="text-bold"> 9 a 12 - 16 a 18</p>
      </li>
      <li class="flex flex-col py-1 m-1 round leading-none border-black border-2" style="grid-column:3">
        <p class="text-bold"> 9 a 12 - 16 a 18</p>
      </li>
      <li class="flex flex-col py-1 m-1 round leading-none border-black border-2" style="grid-column:4">
        <p class="text-bold"> 9 a 12 - 16 a 18</p>
      </li>
      <li class="flex flex-col py-1 m-1 round leading-none border-black border-2" style="grid-column:5">
        <p class="text-bold"> 9 a 12 - 16 a 18</p>
      </li>
      <li class="flex flex-col py-1 m-1 round leading-none border-black border-2" style="grid-column:6">
        <p class="text-bold"> 9 a 12 - 16 a 18</p>
      </li>
      <li class="flex flex-col py-1 m-1 round leading-none border-black border-2" style="grid-column:7">
        <p class="text-bold"> 9 a 12 - 16 a  18 </p>
      </li>

      <li class="flex flex-col py-1 m-1 round leading-none border-black border-2" style="grid-column:1">
        <p class="text-bold"> Paseador </p>
      </li>
      <li class="flex flex-col py-1 m-1 round leading-none border-black border-2" style="grid-column:2">
        <p class="text-bold"> Juan Perez </p>
      </li>
      <li class="flex flex-col py-1 m-1 round leading-none border-black border-2" style="grid-column:3">
        <p class="text-bold"> Lucas Diaz </p>
      </li>
      <li class="flex flex-col py-1 m-1 round leading-none border-black border-2" style="grid-column:4">
        <p class="text-bold"> Juan Perez </p>
      </li>
      <li class="flex flex-col py-1 m-1 round leading-none border-black border-2" style="grid-column:5">
        <p class="text-bold"> Maria Gomez </p>
      </li>
      <li class="flex flex-col py-1 m-1 round leading-none border-black border-2" style="grid-column:6">
        <p class="text-bold"> Lucas Diaz </p>
      </li>
      <li class="flex flex-col py-1 m-1 round leading-none border-black border-2" style="grid-column:7">
        <p class="text-bold"> Roberto Vazquez </p>
      </li>
    </ul>
  </body>

</html>
